strands-agents
strands-agents-tools
requests
pathlib2>=2.3.7
PyYAML
fastmcp
pydantic
bedrock-agentcore
bedrock-agentcore-starter-toolkit
botocore
boto3
streamlit
streamlit-cookies-controller
PyJWT
uv
mcp
aws-opentelemetry-distro
defusedxml
requests>=2.31.0
